[submodule ".tmux/plugins/tpm"]
  path = .tmux/plugins/tpm
  url = https://github.com/tmux-plugins/tpm.git
  ignore = dirty
[submodule ".tmux/plugins/vim-tmux-navigator"]
  path = .tmux/plugins/vim-tmux-navigator
  url = https://github.com/christoomey/vim-tmux-navigator.git
  ignore = dirty
[submodule ".tmux/plugins/tmux-continuum"]
  path = .tmux/plugins/tmux-continuum
  url = https://github.com/tmux-plugins/tmux-continuum.git
  ignore = dirty
[submodule ".tmux/plugins/tmux-resurrect"]
  path = .tmux/plugins/tmux-resurrect
  url = https://github.com/tmux-plugins/tmux-resurrect.git
  ignore = dirty
